/*
Coder: Cory Conrad
Date: 24 OCT 21
Description: CSS for Shattered Github
*/

/*default settings*/
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Helvetica, sans-serif;
}

/*default body settings*/
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff;
}
  
h1 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  margin-top: 30px;
}

p {
  margin: 0;
  font-size: medium;
  text-align: left;
  color: #FFFFFF;
}

/*puts some space around an unordered list*/
ul {
	margin: 20px 40px;
}

/*default link appearance*/
a:link{
	color: #D22B2B;
	font-weight:bold;
	background-color: transparent;
	text-decoration: none;
}

/*visited links do not change*/
a:visited{
	color: #D22B2B;
	font-weight:bold;
	background-color: transparent;
	text-decoration: none;
}

/*links light up gold on hover*/
a:hover{
	color: gold;
	text-decoration: none;
	background-color: transparent;
}

/*default image settings*/
img {
  max-width: 100%;
  height: auto;
}

/*shattered banner settings*/
.logo{
	max-width: 90%;
    max-height: 30vh;
	height: auto;
	align: center;
	position: relative;
	left: 25%;
	padding-bottom: 0px 10px;
}

/*settings for the monster images*/
.monster{
	max-height: 40vh;
	max-width: 40vh;
	width: auto;
}

/*settings for sidebar space*/
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/*container for sidebar options, used to position them*/
.sidenav-container{
  position: relative;
  top: 20%;
}

/*settings for sidebar options*/
.sidenav a {
  padding: 40px 8px 40px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/*special color for active page in sidebar*/
.sidenav a.active {
  color: #D22B2B;
}

/*hover effect only occurs on pages other than the active page*/
.sidenav a:hover:not(.active) {
  color: #f1f1f1;
}

/*spaces the main body of the page from the sidebar*/
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 30px;
}

/*basic modification for small screens*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
